/*  =====   VARIABLE    =====   */
:root{
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    --lightPink: hsl(321, 100%, 78%);
    --lightRed: hsl(0, 100%, 63%);

    /* Neutral */
    --veryDarkCyan: hsl(192, 100%, 9%);
    --veryPaleBlue: hsl(207, 100%, 98%);

    --darkGray: rgb(59, 59, 59);
    --gray: rgb(156, 156, 156);
}

/*  =====   GENERAL STYLES    =====   */
body{
    margin: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    font-family: sans-serif;
}
a,p,span,strong{
    font-family: sans-serif;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/*  =====   HEADER    =====   */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header .logo{
    width: 100px;
    display: block;
}

header .button{
    font-size: 0.65rem;
    color: var(--pink);
    border: solid 1px var(--pink);
    border-radius: 20px;
    width: 80px;
    height: 25px;
    box-shadow: var(--pink) 0px 0px 10px -5px;
    transition: .2s;
}
header .button:hover{
    color: var(--lightPink);
    border: solid 1px var(--lightPink);
    box-shadow: var(--lightPink) 0px 0px 10px -5px;
}

/*  =====   MAIN    =====   */
main{
    text-align: center;
}
section{
    padding: 0 25px;
    position: relative;
}
main h3{
    margin: 0 0 20px 0;
}
main p{
    color: var(--darkGray);
    margin: 0;
}
main .button{
    color: var(--veryPaleBlue);
    font-size: 0.7rem;
    font-weight: 700; 
    background-color: var(--pink);
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin: 45px auto 0 auto;
    box-shadow: rgb(0, 0, 0) 0 1px 10px -5px;
    transition: .2s;
}
main .button:hover{
    background-color: var(--lightPink);
}
main img {
    width: 90%;
    margin-bottom: 80px;
}
#firstSection{
    padding-top: 90px;
    padding-bottom: 90px;
}
#firstSection h1{
    margin: 0 0 30px 0;
    color: var(--veryDarkCyan);
}
#secondSection{
    padding-top: 10px;
    padding-bottom: 100px;
}
#secondSection #divSecondSection{
    margin-top: 40px;
}
#secondSection #communitiesDiv{
    margin-bottom: 95px;
}
#secondSection .icon{
    width: 30px;
    margin: 0;
    /* text-align: left; */
    /* display: inline-block; */
}
#secondSection strong{
    font-size: 3.7rem;
    display: block;
    margin-bottom: 10px;
}
#secondSection span{
    color: var(--gray);
    font-size: 0.93rem;
}
#messagesDiv .icon{
    width: 23px;
}
#messagesDiv strong{
    font-size: 3.5rem;
}
#messagesDiv span{
    font-size: 0.85rem;
}
.background{
    position: absolute;
}
#thirdSection{
    padding: 100px 0;
    background-color: var(--veryPaleBlue);
}
#forthSection{
    padding-top: 100px;
    padding-bottom: 100px;
}
#fifthSection{
    background-color: var(--veryPaleBlue);
    padding-top: 100px;
    padding-bottom: 100px;
}
#sixthSection{
    padding-top: 100px;
    padding-bottom: 200px;
}

/*  =====   FOOTER    =====   */
footer{
    background-color: var(--veryDarkCyan);
    color: var(--veryPaleBlue);
    padding: 100px 25px 0 25px;
}
footer h2{
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 0;
}
footer p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    /* font-weight: 600; */
}
#footerFirstSection{
    padding: 0 0 80px 0;
}
#footerFirstSection p{
    margin: 20px 0 30px 0;
}
#footerFirstSection input{
    font-size: 1.2rem;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
}
#footerFirstSection button{
    background-color: var(--pink);
    color: var(--veryPaleBlue);
    font-size: 1rem;
    font-weight: 700;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 15px 0 0 auto;
    transition: .2s;
    cursor: pointer;
}
#footerFirstSection button:hover{
    background-color: var(--lightPink);
}
#footerSecondSection{
    padding: 25px 0;
}
#footerSecondSection ul{
    padding: 0;
}
#footerSecondSection .logo{
    width: 200px;
}
#footerSecondSection li{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 0.87rem;
}
#footerSecondSection #contactUl{
    padding: 0;
    margin: 40px 0 50px 0;
}
#footerSecondSection li img{
    margin-right: 20px;
}
#footerSecondSection #socialMedias{
    display: flex;
}
#socialMedias li{
    margin: 0;
}

@media(min-width:1200px){

/*  =====   GENERAL STYLES    =====   */


/*  =====   HEADER    =====   */
header{
    padding: 60px;
}
header .logo{
    width: 215px;
}
header .button{
    font-size: 0.9rem;
    width: 115px;
    height: 35px;
}

/*  =====   MAIN    =====   */
main h1{
    font-size: 2.5rem;
}
main .button{
    font-size: 1.1rem;
    width: 400px;
    height: 70px;
    border-radius: 35px;
}
#firstSection{
    padding-top: 150px;
}
#firstSection p{
    font-size: 1.2rem;
    line-height: 1.7rem;
    width: 620px;
    margin: auto;
}

/*  =====   FOOTER    =====   */



}